.labelInputContainer {
    display: grid;
    margin: 0.5vh 1.5vh;
    padding-left: 0vh;
    position: relative;
  }
  .labelInputContainer input[type="text"] {
    width: calc(100% - 2rem);
    margin: 0.5vh 1rem 0.5vh 0.5rem;
    height: 5vh;
  }
  
  .labelInputContainer label {
    width: 100%;
    margin: 0.5vh 0rem 0vh 0.5vw;
    font-size: 2vh;
  }

.labelInputContainer input[type="text"] {
  border-radius: 4px;
  border: 2px solid #BE60D0;
  padding: 2vh;
}